/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

  /* fluid 5 columns */
.masonry{
	width: 98%;
	margin: 0 1%;
	/*position: relative;*/
	/*right: -.5%;*/
}

.grid-sizer,
.brick { 
	width: 100%;
	margin-right: 0%;
}

.brick{
	padding: 1%;
	border: 1px solid #ffffff;
	background-color: #eee;
	margin-bottom: 1em;
}

.brick img{
	max-width: 100%;
	height: auto;
}



@media (min-width: 600px) {
	.masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -2%;
	}
	.grid-sizer,
	.brick { 
		width: 48%;
		margin-right: 1%;
	}
}

@media (min-width: 900px) {
	.masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -1%;
	}
	.grid-sizer,
	.brick { 
		width: 32%;
		margin-right: 1%;
	}
}

@media (min-width: 1100px) {
	.masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -1%;
	}
	.grid-sizer,
	.brick { 
		width: 24%;
		margin-right: 1%;
	}
}

@media (min-width: 1401px) {
	.masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -.5%;
	}
	.grid-sizer,
	.brick { 
		width: 19%;
		margin-right: 1%;
	}
}