/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

  /* fluid 5 columns */
.altlabtwitpic-masonry{
	box-sizing: border-box;
	width: 98%;
	margin: 0 1%;
}

.altlabtwitpic-grid-sizer,
.altlabtwitpic-brick { 
	box-sizing: border-box;
	width: 100%;
	margin-right: 0%;
}

.altlabtwitpic-brick{
	margin-bottom: 1em;
}

.altlabtwitpic-brick img{
	max-width: 100% !important;
	height: auto;
	box-sizing: border-box;
}



@media (min-width: 500px) {
	.altlabtwitpic-masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -2%;
	}
	.altlabtwitpic-masonry.maxcol2 .altlabtwitpic-grid-sizer,
	.altlabtwitpic-masonry.maxcol3 .altlabtwitpic-grid-sizer,
	.altlabtwitpic-masonry.maxcol4 .altlabtwitpic-grid-sizer,
	.altlabtwitpic-masonry.maxcol5 .altlabtwitpic-grid-sizer,
	.altlabtwitpic-masonry.maxcol6 .altlabtwitpic-grid-sizer,
	.altlabtwitpic-masonry.maxcol2 .altlabtwitpic-brick,
	.altlabtwitpic-masonry.maxcol3 .altlabtwitpic-brick,
	.altlabtwitpic-masonry.maxcol4 .altlabtwitpic-brick,
	.altlabtwitpic-masonry.maxcol5 .altlabtwitpic-brick,
	.altlabtwitpic-masonry.maxcol6 .altlabtwitpic-brick{ 
		width: 48%;
		margin-right: 1%;
	}
}

@media (min-width: 900px) {
	.altlabtwitpic-masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -1%;
	}
	.altlabtwitpic-masonry.maxcol3 .altlabtwitpic-grid-sizer,
	.altlabtwitpic-masonry.maxcol4 .altlabtwitpic-grid-sizer,
	.altlabtwitpic-masonry.maxcol5 .altlabtwitpic-grid-sizer,
	.altlabtwitpic-masonry.maxcol6 .altlabtwitpic-grid-sizer,
	.altlabtwitpic-masonry.maxcol3 .altlabtwitpic-brick,
	.altlabtwitpic-masonry.maxcol4 .altlabtwitpic-brick,
	.altlabtwitpic-masonry.maxcol5 .altlabtwitpic-brick,
	.altlabtwitpic-masonry.maxcol6 .altlabtwitpic-brick{ 
		width: 32%;
		margin-right: 1%;
	}
}

@media (min-width: 1200px) {
	.altlabtwitpic-masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -1%;
	}

	.altlabtwitpic-masonry.maxcol4 .altlabtwitpic-grid-sizer,
	.altlabtwitpic-masonry.maxcol5 .altlabtwitpic-grid-sizer,
	.altlabtwitpic-masonry.maxcol6 .altlabtwitpic-grid-sizer,
	.altlabtwitpic-masonry.maxcol4 .altlabtwitpic-brick,
	.altlabtwitpic-masonry.maxcol5 .altlabtwitpic-brick,
	.altlabtwitpic-masonry.maxcol6 .altlabtwitpic-brick{ 
		width: 24%;
		margin-right: 1%;
	}
}

@media (min-width: 1400px) {
	.altlabtwitpic-masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -1%;
	}

	.altlabtwitpic-masonry.maxcol5 .altlabtwitpic-grid-sizer,
	.altlabtwitpic-masonry.maxcol6 .altlabtwitpic-grid-sizer,
	.altlabtwitpic-masonry.maxcol5 .altlabtwitpic-brick,
	.altlabtwitpic-masonry.maxcol6 .altlabtwitpic-brick{ 
		width: 19%;
		margin-right: 1%;
	}
}

@media (min-width: 1800px) {
	.altlabtwitpic-masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -1%;
	}

	.altlabtwitpic-masonry.maxcol6 .altlabtwitpic-grid-sizer,
	.altlabtwitpic-masonry.maxcol6 .altlabtwitpic-brick{ 
		width: 15%;
		margin-right: 1%;
	}
}


