/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

  /* fluid 5 columns */
.altlabtwitpic-masonry{
	box-sizing: border-box;
	width: 98%;
	margin: 0 1%;
	/*position: relative;*/
	/*right: -.5%;*/
}

.altlabtwitpic-grid-sizer,
.altlabtwitpic-brick { 
	box-sizing: border-box;
	width: 100%;
	margin-right: 0%;
}

.altlabtwitpic-brick{
	margin-bottom: 1em;
}

.altlabtwitpic-brick img{
	max-width: 100% !important;
	height: auto;
	box-sizing: border-box;
}



@media (min-width: 600px) {
	.altlabtwitpic-masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -2%;
	}
	.altlabtwitpic-grid-sizer,
	.altlabtwitpic-brick { 
		width: 48%;
		margin-right: 1%;
	}
}

@media (min-width: 900px) {
	.altlabtwitpic-masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -1%;
	}
	.altlabtwitpic-grid-sizer,
	.altlabtwitpic-brick { 
		width: 32%;
		margin-right: 1%;
	}
}


